{% extends 'clientes/base.html' %}

{% block titulo %}
  Cliente {{cliente.nome}}
{% endblock %}

{% block conteudo %}

 
 <div class="card">
  <div class="card-header">
    <h3 class="">Deseja remover o cliente abaixo?</h3>
  </div>
  <div class="card-body">
    <h5 class="card-title">Nome: {{cliente.nome}}</h5>
    <h5 class="card-title">E-mail: {{cliente.email}}</h5>
    <h5 class="card-title">Profissão: {{cliente.profissao}}</h5>
    <h5 class="card-title">Sexo: {{cliente.sexo}}</h5>
    <h5 class="card-title">Data de nascimento: {{cliente.data_nascimento}}</h5> 
  </div>
</div>

 <form method="post">
   {% csrf_token %}
   <div class="form-group">
      <button class="btn btn-danger" type="submit">Remover</button>
      <a class="btn btn-primary" href="{% url 'listar_clientes' %}">Voltar</a>
   </div>
 </form>
 
{% endblock %}