{% extends 'clientes/base.html' %}
{% load meus_filtros %}

{% block titulo %}
Login
{% endblock %}

{% block conteudo %}
  <form method="post">
    {% csrf_token %}

    {% for message in messages %}
      <div class="alert alert-danger">
        {{ message }}
      </div>
    {% endfor %}

    <div class="form-group">
      <label>Nome do usuário:</label>
      {{ form_login.username | addclass:'form-control'}}
    </div>
    <div class="form-group">
      <label>Senha:</label>
      {{ form_login.password | addclass:'form-control'}}
    </div>
    <div class="form-group">
      <input type="submit" value="Login">
    </div>
  </form>
{% endblock %}